

body{
    /* font-family: sans-serif; */
    overflow-x: hidden;
    color: rgb(49, 74, 158);
}

.labelFormulario{
   display: block;

}

.inputFormulario{
    width: 100%;
    border: 2px #a4a4e7 solid;
}